
.fixed {
    background-color: tomato;
    padding: 10px;
    text-align: center;
    /*
        Igual que un absolute solo que queda fijo ante scroll
        Ideal para menúes fijos
    */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.contenido {
    background-color: violet;
    max-width: 300px;
    margin: 50px auto;
}